html {
    font-size: 1rem;
    font-family: monospace, monospace;
    color: lightgray;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}